{% extends "base.html" %}
{% load static %}

{% block body_class %}home-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4 logo-font text-white mt-3">Welcome to Warrior Tools</h1>
            <a href="{% url 'products' %}" class="btn btn-outline-light btn-lg mt-3 shop-now-button">
                Shop Now
            </a>
        </div>
    </div>
</div>
{% endblock %}

