{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block body_class %}form-page{% endblock %}

{% block content %}
<div class="content-wrapper">
  <section class="form-container" aria-labelledby="sign-in-heading">
    <hr>
    <h2 id="sign-in-heading" class="logo-font mb-4 text-uppercase">{% trans "Sign In" %}</h2>
    <hr>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
      <p>
        {% blocktrans with site.name as site_name %}
          Please sign in with one of your existing third party accounts.
          Or, <a href="{{ signup_url }}" class="signup-link">sign up</a> for a {{ site_name }} account and sign in below:
        {% endblocktrans %}
      </p>
    {% else %}
      <p>
        {% blocktrans %}
          If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="signup-link">SIGN UP</a> first.
        {% endblocktrans %}
      </p>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}" aria-label="Sign In Form">
      {% csrf_token %}
      {{ form|crispy }}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}

      <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
        <a class="btn btn-outline-navy rounded-0 mb-2" href="{% url 'home' %}">{% trans "Home" %}</a>
        <button class="btn btn-navy rounded-0 mb-2" type="submit">{% trans "Sign In" %}</button>
      </div>

      <div class="text-right mt-2">
        <a class="signup-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
  </section>
</div>
{% endblock %}
