<div class="toast custom-toast rounded-0 border-top-0 bg-dark text-white shadow" data-autohide="true" data-delay="7000">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>

    <div class="toast-header bg-dark text-white border-0">
        <strong class="me-auto logo-font">Info</strong>
        <button type="button" class="close text-white ml-2 mb-1" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="toast-body bg-dark text-white">
        {{ message }}
    </div>
</div>
